doctype html
html
    head
        script(src="https://kit.fontawesome.com/50dc7c1f17.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        // Header
        include ../partials/header
        // Main
        main
            block content
        // Footer
        include ../partials/footer