@import '../config/mixins';

.header {
    padding: 0 20px;
    background: $slateblue;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__column:nth-child(1) {
        font-size: 2em;
        font-weight: 900;
        a {
            color: $white;
            text-decoration: none;
            i {
                margin-right: 3px;
            }
        }
    }
    .header__column:nth-child(2) {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                width: calc(100% - 50px);
                height: 35px;
                padding: 0 5px;
                border: solid 2px $white;
                background: $slateblue;
                color: $white;
                font-size: 1.3em;
                &:focus {
                    border: solid 2px $blue;
                    outline: none;
                }
                &::placeholder {
                    color: #e0e0e0;
                }
            }
            button {
                width: 50px;
                height: 39px;
                border: solid 1.5px $white;
                background: $white;
                color: $slateblue;
                font-size: 1.3em;
                cursor: pointer;
            }
        }
    }
    .header__column:nth-child(3) {
        display: none; // for dev
        width: max-content;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                margin: 0 10px;
                font-size: 1em;
                font-weight: 800;
                a {
                    color: $white;
                    text-decoration: none;
                }
            }
            li.loginout {
                width: max-content;
                height: 30px;
                padding: 0 5px;
                border-radius: 10px;
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    color: $slateblue;
                }
            }
        }
    }
    .header__column:nth-child(4) {
        width: max-content;
        display: flex;
        i {
            color: $white;
            font-size: 1.5em;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menuBtn {
            margin-left: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .stick {
                background: $white;
            }
        }
    }
    @include responsive('computer') {
        height: 55px;
    }
    @include responsive('tablet') {
        height: 65px;
        .header__column:nth-child(1) {
            font-size: 2.3em;
        }
        .header__column:nth-child(2) {
            display: none;
        }
        .header__column:nth-child(4) {
            i {
                width: 50px;
                height: 39px;
            }
            .menuBtn {
                width: 50px;
                height: 39px;
                .stick {
                    width: 35px;
                    height: 4px;
                }
            }
        }
    }
    @include responsive('phone') {
        height: 90px;
        .header__column:nth-child(1) {
            font-size: 3em;
        }
        .header__column:nth-child(2) {
            display: none;
        }
        .header__column:nth-child(4) {
            i {
                width: 60px;
                height: 50px;
                font-size: 2em;
            }
            .menuBtn {
                width: 60px;
                height: 50px;
                .stick {
                    width: 45px;
                    height: 5px;
                }
            }
        }
    }
}